/* .main-div{
    border-radius: 50px;
} */
.coin-info-desc a{
 text-decoration: underline;
 
}
.coin-info-desc a:hover{
color:var(--blue);
}
.coin-info-desc {
    margin: 1rem;
    cursor: pointer;
    padding-bottom: 1rem;
    
}
.coin-info-heading{
padding-top: 1rem;
padding-bottom: 1rem;
}