.grid-flex{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin : 1.5rem 2rem;
    gap:1.2rem;
}
.list-table{
    
    margin-left: auto;
    margin-right: auto;
    /* gap:0.8rem; */
    width: 80%;
    
}
@media screen and (max-width: 1200px) {
    .list-table{
width: 95%;
    }
    }
