.list-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:1.5rem;
    padding: 1rem;
    gap:0.5rem;
    border-radius: 1rem;

}
.list-row:hover{
    background-color: var(--darkgrey);
    transition: all 0.3rem;
}
.list-row td{
    text-align: left;
    width:18%;
}
.list-vol{
    color: var(--white);
    display: flex;
    margin: 1.2rem;
    font-weight: 500;
}
.td-img{
    width:3rem !important;
    margin-right: 2rem;
}
.td-right{
    text-align: right;
}
.td-center{
    text-align: center;
}
#mobile-td-mkt{
    display: none;
}
#red-star{
    border: 2px solid var(--red);
    border-radius: 10rem;
    width: auto;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red);
}

#red-star:hover{
    background-color: var(--red);
    color: var(--white);
    transition: all 0.3s; 
}
#icon-star{
    border: 2px solid var(--green);
    border-radius: 10rem;
    width: auto;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green);

}
#icon-star:hover{
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s; 
}
.btn-red {
    border: 2px solid var(--red);
    color: var(--red);
    border-radius: 10rem;
    width: auto;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
}

@media screen and (max-width: 1100px) {
.td-icon{
    display: none;}
}
@media screen and (max-width: 1000px) {
    .td-vol-total{
        display: none;
    }

}
@media screen and (max-width: 800px) {
  #desk-td-mkt{
        display: none;
    }
    #mobile-td-mkt{
        display: block;
    }
    }